.customer-res-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 900px;
}
.customer-res-sub__container {
    display: flex;
    flex-direction:column;
    justify-content: start;
    align-items: center;
    width: 85%;
    height: 700px;

}
.customer-res-detail__container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height:70%;
    width: 90%;
    margin-top:50px;
    border-radius:10px;


}