.custom-container-one{
    display: flex;
    flex-wrap: wrap;
    height: 600px;
    justify-content: center;
}

.container-one{
    display : flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100%;
    background: #000000;
}

.sub-container-one{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    width: 600px;
    height: 100%;
    position: relative;
    margin-bottom: 70px;
}

.sub-container-two{
    display: flex;
    flex-direction: row;
    align-items: end;
    width: 700px;
    height: 100%;
    margin-left: 80px;
}

.background-image{
    height: 595px;
    margin-bottom: 50px;
}

.register-btn-landing{
    color: white;
    background: #1C1B24;
    border-radius: 10px;
    font-size: 40px;
    margin-top: 50px;
    font-weight: bold;
    width: 60%
}

h1{
    font-size: 50px;
    color: white;
    margin-bottom: 10px;
}

.header-title{
    color: #FFFFFF;
    font-size: 50px;
    font-weight: bolder;
    margin-bottom: 50px;
}

.bg-red{
    background-color: #000000;
}

.container-side-one{
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 700px;
    justify-content: center;
    align-items: center;
}

.home-car-detail{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 95%;
    width: 100%;
    margin-top: 2%;
}

.landing-custom-card{
    width: 350px;
    height: 90%;
    margin-right: 2%;
    margin-left: 2%;
    border-radius: 10px;
    box-shadow: 1px 1px 10px 1px #9E9E9E;
}

.landing-custom-card-img{
    height: 220px;
    width: 325px;
    display: block;
    margin-right: auto;
    margin-left: auto;
    margin-top: 3%;
    border-radius: 10px;
}

