.custom-container-one{
    display: flex;
    flex-wrap: wrap;
    height: 600px;
    justify-content: center;
}

.container-one{
    display : flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100%;
    background: #B22D2B;
}

.sub-container-one{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    width: 600px;
    height: 100%;
    position: relative;
    margin-bottom: 70px;
}

.sub-container-two{
    display: flex;
    flex-direction: row;
    align-items: end;
    width: 700px;
    height: 100%;
    margin-left: 80px;
}

.background-image{
    height: 400px;
    margin-bottom: 50px;
}

.register-btn-landing{
    color: white;
    background: #1E1E1E;
    border-radius: 10px;
    font-size: 40px;
    margin-top: 50px;
    font-weight: bolder;
    width: 60%
}

h1{
    font-size: 50px;
    color: white;
    margin-bottom: 10px;
}

.header-title{
    color: #FFFFFF;
    font-size: 50px;
    font-weight: bolder;
    margin-bottom: 50px;
}